<!--   # Tanzeem Hasan
  # Belugas (Ivan, Colyi, Tanzeem)
  # SoftDev
  # K18: Serving Looks
  # 2024-10-16
  # time spent: 5 mins -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>K17 Belugas</title>
    <link href="../static/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>h1 foo</h1>
    <div class="middle">
    <div class="nav">
      <h3>nav foo</h3>
      <ul>
        <b>
        <p>dis</p>
        <p>dat</p>
        <p>de udda ting</p></b>
      </ul>
    </div>
    <div class="main">
      <h2>main foo heading</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Dis bibendum laoreet, lacinia non suspendisse interdum. Odio fusce fermentum taciti ante massa. Ligula dolor luctus rhoncus diam sagittis morbi. Mattis habitant inceptos, aptent morbi posuere sodales. Inceptos primis elementum inceptos arcu finibus elit facilisi quisque.
        Venenatis proin morbi habitant; sapien nec at suspendisse. Maximus donec nascetur tempor neque venenatis per tortor cubilia magnis. Iaculis sociosqu iaculis dolor diam orci; nisi vitae. Dapibus magnis faucibus ad ante auctor. Dis eget senectus id scelerisque interdum laoreet quam molestie bibendum. Magna sed felis consequat sed ad magnis. Ac porta proin in diam vehicula faucibus. Litora elementum tempor, erat quam in vivamus. Ligula netus vulputate laoreet ligula nullam egestas parturient nibh.</p>
    </div>
    </div>
    <div class="footer">
      <p>Copyright © 2024 Belugas</p>
    </div>
  </body>
</html>
